$clr-primary: #7c1794;

$clr-white: #fff;
$clr-black: #000;

$clr-bg: #1a051f;
$clr-text: $clr-white;

$clr-btn-number: #332736;
$clr-btn-function: #5a4e5f;
$clr-btn-operator: $clr-primary;
$clr-input: #5a4e5f;
$clr-output: $clr-white;

$ff-primary: 'Roboto', sans-serif;

$fs-base: 16px;
$fs-medium: 20px;
$fs-large: 24px;
$fs-xlarge: 32px;
$fs-xxlarge: 48px;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$spacer-small: 8px;
$spacer-base: 16px;
$spacer-medium: 24px;
$spacer-large: 48px;

$rounded-base: 8px;
$rounded-medium: 16px;
$rounded-large: 24px;
