$clr-primary: #ff9500;
$clr-secondary: #505050;
$clr-tertiary: #d4d4d2;

$clr-white: #fff;
$clr-black: #000;

$clr-bg: #1c1c1c;
$clr-text: $clr-white;

$clr-btn-operator: $clr-primary;
$clr-btn-number: $clr-secondary;
$clr-btn-action: $clr-tertiary;

$clr-input: $clr-tertiary;
$clr-output: $clr-white;

$ff-primary: 'Roboto', sans-serif;

$fs-base: 16px;
$fs-medium: 20px;
$fs-large: 24px;
$fs-xlarge: 32px;
$fs-xxlarge: 48px;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$spacer-small: 8px;
$spacer-base: 16px;
$spacer-medium: 24px;
$spacer-large: 48px;

$rounded-base: 8px;
$rounded-medium: 16px;
$rounded-large: 24px;
